<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Luis Domínguez López CV</title>
  </head>
  <body style="height: 100%;min-height: 100vh;overflow: auto;">
    <embed src="../archivos/LuisDomínguezLópez-CV.pdf" type="application/pdf" width="100%" style="height: 100%;min-height: 100vh;overflow: auto;" />

  </body>
</html>