<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" lang="es">
	<title>Luis Dominguez Lopez</title>
  <link rel="shortcut icon" href="../iconLuis.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Ylpd0dwTYJO22hWAZbLWeq8pwhFGWjjuhaSmTNd50Nw" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="../css/LuisCV.css">
   <link rel="stylesheet" type="text/css" href="../css/sidebar.css">
   <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-170283857-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-170283857-1');
</script>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="font-family: courier, monospace;">
    <a class="navbar-brand" href="#">Luis Domínguez López</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="../index.html">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="CVonline.html">Curriculum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sobremi.html">Conoceme</a>
        </li>
        <!--
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown05" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Proyectos</a>
          <div class="dropdown-menu" aria-labelledby="dropdown05">
            <a class="dropdown-item" href="ppersonal.html">Personales</a>
            <a class="dropdown-item" href="pprofesional.html">Profesionales</a>
          </div>
        </li>
        -->
      </ul>
    </div>
  </nav>
    <div id="estudios" class="col-sm-12 col-lg-12">
      <div class="row">
        <div id="personal" class="col-lg-3 col-sm-8">
            <div id="foto">
                <img src="../img/fotocv.jpg" style="height: 200px; width: 200px;" alt="Foto de luis dominguez">
            </div>
            <div id="nombre">
                <h1>Luis<br>Domínguez<br>López</h1>
            </div>
            <div id="ocupacion">
                <h3>Ingeniero Informático</h3>
            </div>
            <div class="separador"></div>
            <div id="contacto">
                <h3>Datos de Contacto</h3>
                <span>
                    Mail: domlopluis@gmail.com<br>
                    Linkedin: <a href="https://es.linkedin.com/in/luisdominguezlopezinformatico">luisdominguezlopezinformatico</a><br>
                    GitHub: <a href="https://github.com/domlopluis94">domlopluis94</a><br>
                    Instagram: <a href="https://www.instagram.com/luisdomlop94/">@luisdomlop94</a><br>
                </span>
            </div>
            <div class="separador"></div>
        </div>
        <div id="experiencia" class="col-lg-9 col-sm-8 col-centered">
            <div class="separador"></div>
            <div class="titulo1">Estudios Académicos</div>
            <div class="titulo2"><a class="intext" href="http://muss.fi.upm.es/presentacion.php">Máster Universitario en Software y Sistemas</a></div>
            <div class="titulo3">Universidad Politécnica de Madrid</div>
            <ul>
                <li>TFM Sobre creación un <a class="intext" href="http://oa.upm.es/62819/">"Development of firmware for intelligent Internet of things enabled devices."</a> por el cual me calificaron con 10 Matricula de Honor.</li>
                <li>Asignaturas y Seminarios orientados a la seguridad, desarrollo riguroso del software y al Data Mining.</li>
                <li>Delegado de Curso y de Titulación.</li>
                <li>Proyectos públicos de Data Mining y de Seguridad Informática.Trabajos resultado de las distintas asignaturas disponibles en mi GitHub.</li>
                <li>Master con mas del 90% de asignaturas cursadas en ingles. Y 3 Matriculas de Honor. </li>
            </ul>
            <div class="titulo2"><a class="intext" href="http://www.fi.upm.es/?id=gradoingenieriainformatica">Grado de Ingeniería Informática</a></div>
            <div class="titulo3">Universidad Politécnica de Madrid</div>
            <ul>
                <li> TFG con 9,8 sobresaliente sobre la <a class="intext" href="http://oa.upm.es/55783/">"Creación y personalización de ROM de Android orientado a uso en comercios y empresas"</a>, por el cual me calificaron con 9,8 sobresaliente.</li>
                <li>Matrícula de Honor en Web of Linked Data and Semantic Web y Español Profesional y Académico</li>
                <li>Adquisición de conocimientos en Java, Android, HTML, CSS, JavaScript, C, Ensamblador, Python, Prolog... con proyectos disponibles en GitHub</li>
                <li>Participación en el equipo de Rugby de la Universidad</li>
            </ul>
            <div class="titulo2">Certificación B2 Inglés</div>
            <div class="titulo3">TOEIC en la Universidad Politécnica de Madrid</div>
            <ul>
                <li>Complementado con la Educación Secundaria Obligatoria realizada en el colegio bilingüe Trinity College Liceo Serrano y St. Michael's School en primaria</li>
            </ul>
            <div class="separador"></div>
            <div class="titulo1">Experiencia Laboral</div>
            <div class="titulo2">Embedded Software Engineer</div>
            <div class="titulo3">Universidad Politecnica<br>Noviembre 2019 - Actualidad</div>
            <ul>
                <li>Desarrollo del middleware en C++ para un dispositivo Enocean, en relación al tratamiento de paquetes de radio frecuencia.</li>
                <li>Desarrollo de una interfaz para Operwrt con Luci y Lua ( además de html,css y js ) para un dispositivo Mipsel.</li>
                <li>Conocimientos en programación de microcontroladores (C/C++).</li>
                <li>Conocimientos generales de electrónica analógica y digital.</li>
                <li>Validación y Testeo de software: pruebas unitarias y de sistema.</li>
                <li>Manejo en herramientas de control de versiones (Git).</li>
                <li>Generación de documentación para su uso , mantenimiento y adaptación a otros dispositivos.</li>
                <li>Trabajo en coordinación con diferentes áreas de la empresa, especialmente con el equipo de desarrollo de hardware.</li>
                <li>Lenguajes de programación: C/C++,Lua, Python , JS</li>
            </ul>
            <div class="titulo2">IT Developer in Britel Consulting S.L.</div>
            <div class="titulo3"><a class="intext" href="http://britel.com/briteltv/">Britel</a><br>Febrero 2019 - Octubre 2019</div>
            <ul>
                <li>Desarrollo completo de la aplicación de ÑÑ para dispositivos móviles, usando Cordova, Angular e ionic. ademas desarrolle plug-in para Cordova disponibles en mi Github. </li>
                <li>Desarrollo de la aplicación ÑÑ y Hotflix para las plataformas de Samsung y LG. Trabaje con HTML,CSS, Jquery, JS , Tizen Os y LG Web Os. </li>
                <li>Desarrollo en Roku las aplicaciones para Ñam, Tuingles y Escapa Tv. Tanto por publicación directa como con Brightscript.</li>
                <li>Desarrollo de la aplicación de Hotflix para dispositivos móviles. Desarrollando un reproductor personalizado con Exoplayer para Smooth Streaming.</li>
            </ul>
            <div class="titulo2">Desarrollador Analista de Soluciones Móviles</div>
            <div class="titulo3"><a class="intext" href="https://www.tda.ad/Home">TdA-Técniques d'Avantguarda</a><br>Septiembre 2018 - Diciembre 2018</div>
            <ul>
                <li>Realicé prácticas curriculares desarrollando un launcher para Android</li>
                <li>Planifiqué las etapas del proyecto</li>
                <li>Realicé informes de las etapas de desarrollo y el propio desarrollo del sistema</li>
            </ul>
            <div class="titulo2">Desarrollo Software</div>
            <div class="titulo3"><a class="intext" href="http://innprores.com">INNPRORES Enero 2018</a></div>
            <ul>
                <li>Desarrollé aplicaciones de escritorio de Windows y participé en el campus de FlexyGO, obteniendo el primer puesto gracias al prototipo más disruptor</li>
                <li>Adquiriendo conocimientos en C#, HTML, CSS, JavaScript y de las herramientas Flexygo y Visual Studio</li>
                
            </ul>
        </div>

        <div id="reconocimientos" class="col-lg-11 col-sm-9 col-centered">
          <div class="separador"></div>
          <div class="titulo1">Reconocimientos y premios</div>
          <div class="titulo2">1<sup>er</sup> Puesto en el Climathon de Madrid 2017</div>
          <div class="titulo3">Oct. de 2017 Climathon.climate.kic.org</div>
          <p>El evento CLIMATHON está principalmente centrado en crear conciencia sobre los efectos de la contaminación lumínica. Centrado en el desperdicio de energía y dinero, el efecto del ciclo de día natural de algunas especies y el efecto producido en el bienestar y la salud humana a través de su asociación con el insomnio, entre otros.</p>
          <p>Durante el día del evento propuse el desarrollo de una aplicación para la concienciación de las personas en materia de contaminación lumínica.</p>
          <div class="titulo2">1<sup>er</sup> Premio Campus Party de Flexygo</div>
          <div class="titulo3">Feb. de 2018 Entidad emisora del reconocimiento FlexyGO</div>
          <ul>
              <li>Premio por realizar una aplicación web sobre almacenes son uso de JavaScript para adaptarlo a dispositivos móviles con la técnica drag and drop</li>
              <li><a href="http://flexygo.es/flexygo-campus-party/">http://flexygo.es/flexygo-campus-party/</a></li>
          </ul>
          <div class="col-12">
            <img src="../archivos/Captura de pantalla 2020-03-02 a las 13.51.42.png" class="col-6">
            <img src="../archivos/flexygo.jpg" class="col-4">
          </div>
          
          <div class="separador"></div>
          <div class="titulo1">Emprendimiento</div>
          <p>Actualmente tengo la licencia de desarrollador Android de Google PLay con una aplicación disponible para su descarga, "Tablecoin", y dos más en fase de desarrollo. Además también me hallo en formación de Unity con la intención de poder desarrollar más aplicaciones en el futuro.</p>
          <div class="separador"></div>
          <div class="titulo1">Perfil Personal</div>
          <p>Aprender y crecer profesionalmente en el sector de las tecnologías de la información. Soy trabajador y sociable. Me entretengo al máximo en mis trabajos y mis objetivos. Sé llevar las riendas de un equipo y las responsabilidades.</p>
        </div>
        <div class="col-lg-11 col-sm-9 col-centered" style="color: white;">
          <div class="separador"></div>
          <div class="titulo1">Lenguajes Conocidos</div>
          <table class="table col-10 tabletext" style="color: white;">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha del primer proyecto realizado</th>
                <th scope="col">Comentario</th>
                <th scope="col">Nivel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">C/C++</th>
                <td>2013</td>
                <td>Tanto profesionalmente durante mi etapa en la UPM , como academicamente en el Grado y el Master</td>
                <td>Alto</td>
              </tr>
              <tr>
                <th scope="row">Java</th>
                <td>2012</td>
                <td>Java con Eclipse, Android Studio</td>
                <td>Alto</td>
              </tr>
              <tr>
                <th scope="row">JavaScript</th>
                <td>2018</td>
                <td>En todo tipo de trabajos tanto profesionales como acedemicos. </td>
                <td>Alto</td>
              </tr>
              <tr>
                <th scope="row">Prolog</th>
                <td>2015</td>
                <td>Trabajos de Master y de Grado con alta puntuación</td>
                <td>Alto</td>
              </tr>
              <tr>
                <th scope="row">Python</th>
                <td>2016</td>
                <td>Tanto con DJango como para trabajos de Data Mining</td>
                <td>Medio-Alto</td>
              </tr>
              <tr>
                <th scope="row">LUA</th>
                <td>2016</td>
                <td>Trabajos profesionales durante mi etapa trabajando para la UPM y en mi TFM</td>
                <td>Medio-Alto</td>
              </tr>
              <tr>
                <th scope="row">C#</th>
                <td>2015</td>
                <td>Trabajos para la empresa innprores</td>
                <td>Medio</td>
              </tr>
              <tr>
                <th scope="row">Ensamblador M88110</th>
                <td>2014</td>
                <td>Trabajos Universitarios</td>
                <td>Medio-Bajo</td>
              </tr>
              <tr>
                <th scope="row">Bash</th>
                <td>2014</td>
                <td>Trabajos Universitarios y para mayor comodidad en el desarrollo</td>
                <td>Medio</td>
              </tr>
              <tr>
                <th scope="row">PHP</th>
                <td>2019</td>
                <td>Ayuda en un plug-in para wordpress</td>
                <td>Bajo</td>
              </tr>
              <tr>
                <th scope="row">R</th>
                <td>2019</td>
                <td>Apoyo en trabajos de Data Mining</td>
                <td>Bajo</td>
              </tr>
              <tr>
                <th scope="row">Kotlin</th>
                <td>2019</td>
                <td>Pruebas simples para testear el lenguaje</td>
                <td>Bajo</td>
              </tr>
              <tr>
                <th scope="row">Objective-C</th>
                <td>2016</td>
                <td>trabajado como parte muy por encima de mi plug-in para cordova </td>
                <td>Bajo</td>
              </tr>
            </tbody>
          </table>

          <div class="separador"></div>
          <div class="titulo1">Frameworks</div>
          <table class="table col-10 tabletext" style="color: white;">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha del primer proyecto realizado</th>
                <th scope="col">Comentario</th>
                <th scope="col">Nivel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Angular JS</th>
                <td>2019</td>
                <td>Principalmente para el desarrollo de aplicaciones</td>
                <td>Medio</td>
              </tr>
              <tr>
                <th scope="row">Spring</th>
                <td>2018</td>
                <td>Para el desarrollo de una API en Britel</td>
                <td>Medio</td>
              </tr>
              <tr>
                <th scope="row">Ionic/Bootstrap</th>
                <td>2014</td>
                <td>Principalmente para aplicaciones centradas en dispositivos moviles, pero tambien en todos mis trabajos web. </td>
                <td>Alto</td>
              </tr>
              <tr>
                <th scope="row">Django</th>
                <td>2016</td>
                <td>Trabajos de Master y de Grado con alta puntuación</td>
                <td>Medio-Alto</td>
              </tr>
              <tr>
                <th scope="row">Apache Cordova</th>
                <td>2019</td>
                <td>Tanto con DJango como para trabajos de Data Mining</td>
                <td>Medio-Alto</td>
              </tr>
              <tr>
                <th scope="row">Flexy Go</th>
                <td>2016-2017</td>
                <td>Trabajos para Innprores</td>
                <td>Medio</td>
              </tr>
            </tbody>
          </table>

          <div class="separador"></div>
          <div class="titulo1">Bases de Datos</div>
          <table class="table col-10 tabletext" style="color: white;">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha del primer proyecto realizado</th>
                <th scope="col">Comentario</th>
                <th scope="col">Nivel</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">SQlite</th>
                <td>2013</td>
                <td>Android y para dispositivos IOT</td>
                <td>Alto</td>
              </tr>
              <tr>
                <th scope="row">MySQL</th>
                <td>2012</td>
                <td>Trabajos Universitarios</td>
                <td>Alto</td>
              </tr>
              <tr>
                <th scope="row">Sparql for RDF</th>
                <td>2018</td>
                <td>Matricula de Honor en Web semántica gracias a la adaptación de Sparql a Android. </td>
                <td>Alto</td>
              </tr>
              <tr>
                <th scope="row">PostgreSQL</th>
                <td>2015</td>
                <td>Académicos para trabajos sobre SIG en la WEB</td>
                <td>Bajo</td>
              </tr>
            </tbody>
        </div>	

      </div>

    </div>
    
</body>
</html>